<div class="body">
  <div class="container">
    <h2>新規登録</h2>

    <div class="form-body">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :ユーザー名 %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
        </div>

        <div class="field">
          <%= f.label :メールアドレス %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :郵便番号 %><br />
          <%= f.text_field :postal_code, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :都道府県 %><br />
          <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name %>
        </div>

         <div class="field">
          <%= f.label :市区 %><br />
          <%= f.text_field :address_city, autofocus: true %>
        </div>

          <div class="field">
          <%= f.label :町村番地_建物_部屋番号 %><br />
          <%= f.text_field :address_street, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :パスワード %>
          <% if @minimum_password_length %>
          <em>（<%= @minimum_password_length %>文字以上）</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :パスワード確認 %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
        <br>
        <div class="actions">
          <%= f.submit "新規登録" %>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>