<!DOCTYPE html>
<html>
  <head>
    <title>SearchBook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav class="nav navbar-nav navbar-left">
          <span class="header glyphicon glyphicon-search">SearchBook</span>
        </nav>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li><%= link_to "  Home", user_path(current_user) , class:"glyphicon glyphicon-home" %></li>
              <li><%= link_to "  ユーザー", users_path , class:"glyphicon glyphicon-user" %></li>
              <li><%= link_to "  書籍", books_path ,class:"glyphicon glyphicon-search" %></li>
              <li><%= link_to "  ログアウト", destroy_user_session_path, method: :delete ,class:"glyphicon glyphicon-log-out" %></li>
            <% else %>
              <li><%= link_to "  Home",root_path , class:"glyphicon glyphicon-home" %></li>
              <li><%= link_to "  About",about_path , class:"glyphicon glyphicon-link" %></li>
              <li><%= link_to "  新規登録", new_user_registration_path ,class:"glyphicon glyphicon-edit" %></li>
              <li><%= link_to "  ログイン", new_user_session_path, class:"glyphicon glyphicon-log-in" %></li>
            <% end %>

          </ul>
        </nav>
      </div>
    </header>
    <% if user_signed_in? %>
      <div class="body">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3"><br>
              <%= form_tag(search_path , method: :get) do %>
                  <%= text_field(@search_content, :search_word)%>
                  <%= select(@search_content, :search_model, [["書籍", "book"],["ユーザー","user"]])%>
                  <%= select(@search_content, :search_method, [["前方一致","forward_match"], ["後方一致","backward_match"], ["完全一致","perfect_match"], ["部分一致","partial_match"]])%>
                  <%= submit_tag "検索" %>
              <% end %>
            </div>
          </div>
        </div>

      </div>

        <div class="container">
          <div class="row">
            <%= yield %>
          </div>
        </div>

      <footer>
        <div class="body2">
          <div class="container">
            <div class="row">
              <div class="col-xs-3 col-xs-offset-9">
                <p>CopyRight SearchBook.inc</p>
              </div>
            </div>
          </div>
        </div>
      </footer>
    <% else %>
      <div class="body">
        <div class="container">
          <div class="row">
            <%= yield %>
          </div>
        </div>
      </div>
      <footer>
          <div class="container">
            <div class="row">
              <div class="col-xs-3 col-xs-offset-9">
                <p>CopyRight SearchBook.inc</p>
              </div>
            </div>
          </div>
      </footer>
    <% end %>
  </body>
</html>
